body {
    font-family: 'Ubuntu', Tahoma, Calibri, Arial;
    background: url('images/bg.jpg');
    height: 100%;
    color: #212121;
    line-height: 22px;
    font-size: 14px;
    line-height: 21px;
}

.hero-media {
    text-align: center;
    background: url('images/mac_bg.png') no-repeat center center;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    margin: 14px auto 0px;
}
